DATABASE_URL=
PANEL_PASSWORD=
SESSION_SECRET=
BOT_API_SECRET=
PUBLIC_BASE_URL=https://jaguar-panel.onrender.com

REVANTPAY_API_KEY=
REVANTPAY_WEBHOOK_SECRET=

DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_ROLE_ID=
VERIFIED_ROLE_ID=
ADMIN_ROLE_ID=

JAGUAR_PRICE=10.90
JAGUAR_DAYS=7
JAGUAR_PRODUCT_NAME=JAGUAR CLIENT - 7 DIAS
